@{
    ViewData["Title"] = "Home Page";
}

<h1>Seteo Nombre</h1>
<p>Ingrese un nombre para visualizar en su pagina</p>
<form action="/Mamifero/Index" method="post">
    <input type="text" name="nombre" id="nombre" value="" placeholder="nombre"/>
    <input type="submit" class="btn btn-warning"/>
</form>
